<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<h1>My SimbirSoft Test Project</h1>
<br/>
<h1>Тестовое задание для стажировки SimbirSoft октябрь 2020</h1>


<p>Подсчёт количества уникальных слов на странице</p>
<p>Введите URL сайта</p>

<!--<form th:method="post" th:action="@{/result}">
&lt;!&ndash;<form method="post" action="/result">&ndash;&gt;
    <label for="url">URL</label>
    <input type="text" th:field="url" id="url" placeholder="https://">
    <br>
    <input type="submit" value="GO!">
</form>-->

<br/>
<h2>© Guzenko A.A., 2020</h2>
<h2>artemiyguzenko@gmail.com</h2>
<br>
</body>
</html>